body {
    padding: 5% 8px;
    background-color: white;
    text-align: center;
}

.error {
    border: 2px solid #ff0033;
    background-color: #f4bbc6;
    padding: 12px 0px 12px 12px;
    margin: -5px 15px 15px 0px;
    display: none;
    transition-duration: 500ms;
}

input[type='text'] {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

input[type='number'] {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

button {
    padding: 8px 20px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: transparent;
}

button:hover {
    background-color: black;
    color: white;
    transition-duration: 300ms;
}

button:not(:hover) {
    background-color: white;
    color: black;
    transition-duration: 300ms;
}

#schedule {
    margin-top: -2px;
    text-align: center;
}

.set-assignment {
    font-size: 24px;
    margin-left: 3px;
    text-align: left;
    margin-bottom: 0px;
}

.remove {
    margin: 0 8px;
}

.set-assignment input[type="checkbox"] {
    height:1.5em;
    width:1.5em;
    cursor:pointer;
    position:relative;
    border-radius:4em;
    vertical-align: bottom;
    margin-right: 8px;
}

.new-sched {
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 24px;
    box-shadow: 0px 0px 15px 5px rgb(204, 204, 204);
    display: inline-block;
    vertical-align:top;
    margin-right: 55px;
}

.checked {
    text-decoration: line-through;
}

#assignments {
    border: .5px solid black;
    padding: 5px 32px 25px 32px;
    height: 5%;
    vertical-align: top;
    display: inline-block;
    margin-left: 55px;
}

#assignments h2 {
    font-size: 35px;
    text-decoration: underline;
}

@media screen and (max-width: 843px) {
    body {
        text-align: center;
    }
    .new-sched {
        display: block;
        margin-right: 0px;
        margin-top: -5px;
    }
    #assignments {
        display: block;
        margin-left: 0px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 270px) {
    #assignments h2 {
        font-size: 25px;
    }
}