body {
    padding: 5% 8px;
    background-color: #ffffff;
    text-align: center;
}

.error {
    border: 2px solid #ff0033;
    background-color: #f4bbc6;
    padding: 12px 0px 12px 12px;
    margin: -5px 15px 15px 0px;
    display: none;
    transition-duration: 500ms;
}

button {
    padding: 8px 20px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: transparent;
}

button:hover {
    background-color: black;
    color: white;
    transition-duration: 300ms;
}

button:not(:hover) {
    background-color: white;
    color: black;
    transition-duration: 300ms;
}

#schedule {
    margin-top: -2px;
    text-align: center;
}

.set-assignment {
    font-size: 18px;
    margin-left: 3px;
}

.set-assignment:hover {
    text-decoration: line-through;
    cursor:pointer;
}

.new-sched {
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 24px;
    box-shadow: 0px 0px 8px 5px rgb(192, 191, 191);
    display: inline-block;
    vertical-align:top;
    margin-right: 55px;
}

#assignments {
    padding: 0px 24px;
    height: 5%;
    vertical-align: top;
    display: inline-block;
    margin-left: 55px;
}

#assignments h2 {
    font-size: 35px;
}

@media screen and (max-width: 750px) {
    body {
        text-align: center;
    }
    .new-sched {
        display: block;
        margin-right: 0px;
    }
    #assignments {
        display: block;
        margin-left: 0px;
    }
}

@media screen and (max-width: 270px) {
    #assignments h2 {
        font-size: 25px;
    }
}